- status = state[:status] || "new"
- reading_unread_count = nil
- if status.to_s == "reading"
  - read_count = state[:read_count].to_i
  - total_count = topic.message_count
  - reading_unread_count = [total_count - read_count, 0].max
- status_class = "status-#{status}"
- status_class = "#{status_class} has-new-replies" if status.to_s == "reading"
- ignored = local_assigns[:ignored] || false
- topic_lists = local_assigns[:topic_lists] || []
- star_data = star_data || {}
- icons_html = capture do
  - if user_signed_in?
    - if status.to_s == "reading"
      = link_to topic_path(topic, anchor: "first-unread"), class: "topic-icon topic-icon-reading slot-reading", title: "Jump to first unread message (#{reading_unread_count} unread)" do
        i.fa-solid.fa-envelope
        span.topic-icon-badge.topic-icon-badge-sup = reading_unread_count
    = star_icon_html(topic: topic, star_data: star_data)
    = note_icon_html(topic: topic, count: note_count.to_i)
    - if current_user.team_ids.any?
      = team_readers_icon_html(topic: topic, readers: team_readers)
  - commit_summary = @commit_summaries&.dig(topic.id)
  - if commit_summary
    = render partial: "topics/commit_icon", locals: { summary: commit_summary }
  - commitfest_summary = @commitfest_summaries&.dig(topic.id)
  - if commitfest_summary
    = render partial: "topics/commitfest_icon", locals: { summary: commitfest_summary }
  - elsif topic.has_attachments?
    .topic-icon.slot-patch title="Attachments"
      i.fa-solid.fa-paperclip
  - ci_branch = @ci_statuses&.dig(topic.id)
  - if ci_branch
    = render partial: "topics/ci_icon", locals: { branch: ci_branch, repo_state: @ci_repo_state }
td.topic-title.status-border class=status_class id=dom_id(topic, "status_cell") data-label="Topic"
  - creator = topic.creator_display_alias
  - last_sender = topic.last_sender_person&.default_alias
  .topic-title-main
    .topic-title-icons
      == icons_html
    span.topic-title-text
      - if user_signed_in?
        = ignore_icon_html(topic: topic, ignored: ignored)
      = link_to topic.title, topic_title_link(topic), class: "topic-link"
      - if topic_lists.any?
        = mailing_list_badges_html(topic_lists, extra_class: "topic-inline-lists")
  .topic-title-mobile
    .topic-title-text
      - if user_signed_in?
        = ignore_icon_html(topic: topic, ignored: ignored)
      = link_to topic.title, topic_title_link(topic), class: "topic-link"
    - if creator || last_sender
      .topic-byline
        - if creator
          span.topic-byline-item
            = image_tag creator.gravatar_url(size: 20), class: "topic-byline-avatar", alt: creator.name
            span.topic-byline-name = creator.name
        - if last_sender
          span.topic-byline-item.topic-byline-right
            = image_tag last_sender.gravatar_url(size: 20), class: "topic-byline-avatar", alt: last_sender.name
            span.topic-byline-name = last_sender.name
    .topic-row-footer
      .topic-footer-icons
        .topic-icons
          .topic-title-icons
            == icons_html
      - replies_count = [topic.message_count - 1, 0].max
      .topic-footer-replies = pluralize(replies_count, "reply")
      .topic-footer-time title=absolute_time_display(topic.last_message_at) = smart_time_display(topic.last_message_at)
