- personalization = local_assigns[:personalization]
- topic_participants_map = local_assigns[:topic_participants_map] || @topic_participants_map || {}

- if topics.empty?
  tr.topic-empty-row
    td colspan=4
      .topics-empty-state
        i.fa-regular.fa-folder-open aria-hidden="true"
        p No topics found.
- else
  = render partial: "topics/topic_row", collection: topics, as: :topic, locals: { personalization: personalization, topic_participants_map: topic_participants_map }
