= render partial: "sidebar", locals: { available_note_tags: @available_note_tags, search_query: @search_query }

#new-topics-banner data-controller="new-topics-banner" data-new-topics-banner-url-value=new_topics_count_topics_path(viewing_since: @viewing_since.iso8601) data-new-topics-banner-interval-ms-value="180000"
  = render partial: "new_topics_banner", locals: { count: @new_topics_count, viewing_since: @viewing_since }

.topics-table *topic_states_attrs
  table
    thead
      tr
        th.topic-title
          | Topic
        th.mailing-lists-header Mailing Lists
        th.activity-header Activity
        th.participants-header Participants
    tbody#topics
      = render partial: "topics", locals: { topics: @topics, personalization: @personalization }

  - if @topics.size == 25
    - last_topic = @topics.last
    - cursor = "#{last_topic.last_activity.iso8601}_#{last_topic.id}"
    = turbo_frame_tag "pagination", src: topics_path(cursor: cursor, viewing_since: @viewing_since.iso8601, format: :turbo_stream), loading: :lazy, data: { controller: "prefetch-frame" } do
      .loading-indicator Loading more topics...
  - else
    = turbo_frame_tag "pagination"
