= turbo_frame_tag "patchsets-sidebar-list" do
  - if @has_patch_branches
    p.patchsets-ci = link_to "CI history", ci_topic_path(@topic), data: { turbo_frame: "_top" }
  - if @patchset_messages.any?
    ul.patchsets-list
      - @patchset_messages.each do |msg|
        - number = @message_numbers[msg.id]
        li.patchset-entry
          = link_to "##{message_dom_id(msg)}", class: "patchset-link", data: { turbo: false } do
            span.patchset-target = "##{number}"
            span.patchset-date = smart_time_display(msg.created_at)
          - if (branch = @patchset_branches[msg.id])
            = ci_branch_link(branch, text: "", class_name: "patchset-branch")
          = link_to message_patchset_path(msg), class: "patchset-download", data: { turbo: false }, "aria-label": "Download patchset ##{number}" do
            i.fas.fa-download
  - else
    p No patchsets in this thread
